:root {
    --mcolor: #10cab7;
    --scolor: #2c4755;
    --bcolor: #fafafa;
}

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.one {
    margin: 10px 0px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


/* 
small
 */

@media (min-width:676px) {
    .container {
        width: 100%;
    }
}


/* tab */

@media (min-width:996px) {
    .container {
        width: 800px;
    }
}


/* desktop */

@media (min-width:1200px) {
    .container {
        width: 1100px;
    }
}

.flex {
    display: flex;
}

.j-b {
    justify-content: space-between;
}

al-it {
    align-items: center;
}

ul {
    list-style: none;
}

.container .logo {
    width: 60px;
}

.container .links {
    width: 30px;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.container .links span:first-child,
.container .links span:nth-child(3) {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #777;
    margin: 4px 0px;
}

.container .links span:nth-child(2) {
    width: 80%;
    height: 2px;
    display: block;
    background-color: #777;
    margin: 4px 0px;
    transition-duration: 0.4s;
}

.nav {
    position: absolute;
    width: 80px;
    text-align: center;
    top: 40px;
    right: -20px;
    display: none;
    z-index: 1;
}

.nav li {
    background-color: var(--mcolor);
    color: var(--bcolor);
}

.nav li:first-child {
    border-radius: 5px 5px 0px 0px;
}

.nav li:last-child {
    border-radius: 0px 0px 5px 5px;
}

.nav li {
    padding: 5px;
    border-bottom: 1px var(--bcolor) solid;
}

.nav li:hover {
    background-color: var(--bcolor);
    color: var(--mcolor);
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav::after {
    content: '';
    border: 10px solid;
    border-color: transparent transparent var(--mcolor) var(--mcolor);
    top: -10px;
    position: absolute;
    transform: rotate( 135deg);
    left: 44%;
}

.container .links:hover .nav {
    display: block;
}

.container .links:hover span:nth-child(2) {
    width: 100%;
}

.home {
    text-align: center;
    background-image: url(img/lubo-minar-3K6ZkYBj2Xo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.home h1 {
    color: var(--mcolor);
    padding: 10px 0px;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features .card {
    width: calc(100%/3);
    padding: 60px 40px;
    text-align: center;
}

.features .card i {
    color: var(--mcolor);
    font-size: 60px;
}

.features .card h2 {
    padding: 40px 0px;
}

.features .card p {
    line-height: 1.9;
}

.under {
    color: #eee;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
}

@media (max-width:800px) {
    .features {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .features .card {
        width: 100%;
        padding: 60px 40px;
        text-align: center;
    }
    .under {
        color: #eee;
        font-size: 100px;
        text-align: center;
        font-weight: 900;
        text-align: center;
    }
}

.services {
    width: 100%;
}

.words {
    text-align: center;
    margin-top: -47px;
    font-size: 20px;
}

.services .container {
    display: flex;
    justify-content: space-evenly;
    margin: 40px auto;
}

.services .card {
    width: calc((100%-300px)/3);
    position: relative;
    padding: 60px 0px;
}

.services .card img {
    width: 100%;
}

@media (max-width:1000px) {
    .services .card img {
        width: 100%;
        display: none;
    }
    .services .card:last-child {
        display: none;
    }
    .services .card {
        width: calc((100%-50px)/2);
    }
}

@media (max-width:676px) {
    .services .card {
        width: 100%;
        padding: 20px 0px;
    }
    .services .card .card-ch {
        display: flex;
        padding: 10px 0px;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .services .container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 40px auto;
    }
    .services .card .card-ch p {
        width: 80%;
        margin: auto;
    }
}

.services .card .card-ch {
    display: flex;
    padding: 30px 0px;
}

.services .card .card-ch i {
    font-size: 40px;
    padding: 0px 30px 30px 30px;
    color: var(--mcolor);
}

.services .card .card-ch h3 {
    padding-bottom: 30px;
}

.services .card .card-ch p {
    width: 80%;
}

.services .card:last-child::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 86%;
    background-color: var(--scolor);
    z-index: -2;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
}

.protflio {
    background-color: var(--bcolor);
}

.protflio .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
}

.protflio .container .card {
    width: calc(( 100% - 100px) / 3);
    background-color: white;
    margin: 20px auto;
}

@media (max-width:676px) {
    .protflio .container .card {
        width: 100%;
    }
}

.protflio .container .card .img {
    width: 100%;
}

.protflio .container .card .img img {
    width: 100%;
}

.protflio .container .card h3 {
    padding: 10px 0px;
}

.protflio .container .card p {
    padding: 10px 0px;
}

.about .container {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
}

.about .container .img {
    width: 30%;
    position: relative;
    height: 350px;
}

.about .container .img img {
    width: 100%;
}

.about .container .img::after {
    content: '';
    width: 100px;
    height: calc(50% + 80px);
    border: 50px solid;
    border-color: transparent transparent var(--scolor) var(--scolor);
    position: absolute;
    top: -80px;
    right: -120px;
    z-index: -1;
}

.about .container .img::before {
    width: 80px;
    height: calc(100% + 60px);
    content: '';
    background-color: var(--bcolor);
    left: -10px;
    position: absolute;
    top: -30px;
    z-index: -1;
}

.about .container .about-2 {
    width: 50%;
}

.about .container p {
    line-height: 1.6;
}

.about .container hr {
    margin: 20px 0px;
    width: 70%;
}

.about .container p:first-child {
    font-weight: 900;
    font-size: 24px;
}

@media (max-width:900px) {
    .about .container .img {
        display: none;
    }
    .about .container .about-2 {
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
    .about .container hr {
        margin: 20px auto;
        width: 70%;
    }
}

.footer {
    text-align: center;
    background-color: var(--scolor);
    padding: 5px 0px;
    color: var(--bcolor);
}

.footer span {
    color: var(--mcolor);
}

.contact .container {
    padding: 60px 40px;
}

.contact .container h2:nth-child(2) {
    color: var(--mcolor);
    padding: 0px 40px;
}

.contact .container p {
    padding: 0px 80px;
}

@media (max-width:900px) {
    .contact .container {
        padding: 60px 0px;
        text-align: center;
    }
    .contact .container h2:nth-child(2) {
        color: var(--mcolor);
        padding: 0px;
    }
}